<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LocalAISight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LocalAISight.Properties.Settings>
            <setting name="DefaultPrompt" serializeAs="String">
                <value>Beskriv det som syns här</value>
            </setting>
            <setting name="OCRPrompt" serializeAs="String">
                <value>Extrahera all text ordagrant och beskriv visuella element kortfattat. Du talar alltid svenska, såvida det inte handlar om text som OCR behandlats, då ska den visas som den är.</value>
            </setting>
            <setting name="SystemPrompt" serializeAs="String">
                <value>Du är en assistent som beskriver framför allt bilder och dess innehåll för en person som inte kan se dem. Du hoppar över allt kring-prat såsom här är beskrivningen osv</value>
            </setting>
            <setting name="Model" serializeAs="String">
                <value>ministral-3</value>
            </setting>
            <setting name="UseExternalServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExternalIP" serializeAs="String">
                <value />
            </setting>
        </LocalAISight.Properties.Settings>
    </userSettings>
</configuration>